.living
{
color: #DCC57D;
}
.heart
{
color: #ED8084;
}
.beauty
{
color: #93CCC3;
}
.extra-bottom-padding{
margin-bottom: 1rem;
}
.abstract-text
{
color:#666;
text-align: justify
}
.form-search
{
float: right;
display: inline-block;
border:  none;
border-bottom:  1px #000 solid;
width: 90%;
color: #CCC;
}

.svg-navbar
{
margin-top: 1rem;
}


@media (max-width: 576px){
	.article-card .img-fluid {
max-width:none;
width: 100%;
}
}

@media (min-width: 576px){
html
{
font-size:12px;
}



}
@media (min-width: 768px) {
html
{
font-size:16px;
}
}



